#ltb{
    padding: 1rem 5rem 1rem;
}

#about{
    height: 100%;
    width: auto;
}
.about__content{
    display: grid;
    grid-template-columns:auto;
    row-gap: 2.7rem;
    margin-left: 4rem;
    margin-top: 22px;

}
section > .about__container{
    display: grid;
    justify-content: center;
}
.about__container{
    text-align: center;
    grid-template-columns: auto 35%;
    padding: 4rem;
    
}
.about__container > p{
    margin-bottom: 50px;
    margin-top: 50px;
}
.about__icon{
    font-size: 2rem;
}
.about__card{
    max-width: 150px;
    aspect-ratio: 1/1;
    padding: 20px;
    border:2px solid transparent;
    border-radius: 1.2rem;
    background: var(--color-cards);
    text-align: center;
    
}
.para-btn{
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
    gap:2rem;
}
.para-btn > a{
   margin-left: 42%;
}
.para-btn > p{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-text);
}
.about__card:hover{
    background: var(--color-hover);
    box-shadow:var(--box-shadow-hover);
}
.about__card h5{
    font-size: 0.95rem;
    color: var(--color-text);
}
.about__card small{
    font-size: 0.7rem;
    color: var(--color-text);
}
.about__content p{
    margin: 2rem 0 2.6rem;
    color: var(--color-text);
}
/* image */

.about__me{
    height:auto;
    width:auto;
    background-color: var(--color-bg);
    /* margin-right: 5rem; */
    
}
.about__me:hover{
    box-shadow: var(--box-shadow-hover);
}
.about__me-image > img{
  width: 100%;
  height: auto;
  float: left;
  padding: 20px;

  
}
@media screen and (max-width:1024px){

    .about__container{
        grid-template-columns: auto;
    }
    .about__content{
        grid-template-columns:33.3% 33.3% 33.3%;
    }
    

 
}
@media screen and (max-width:550px){
.about__container{
    grid-template-columns: auto;
    justify-content: center;
}
.about__content{
grid-template-columns: auto auto;    
}

}